:root {
    --header-bg: red;
    --sidebar-bg: black;
    --to-do-bg: white;
}

body {
  height: 100vh;
}

#grid-container {
  display: grid;
  grid-template-areas: "sidebar header" 
                        "sidebar to-do";
  
  grid-template-columns: minmax(150px, 1fr) 5fr;
  grid-template-rows: auto 1fr;
  
  height: 100%;
}

#header {
  background-color: var(--header-bg);
  
  grid-area: header;
}

#sidebar {
  background-color: var(--sidebar-bg);
  
  grid-area: sidebar;
}

#to-do{
  background-color: var(--to-do-bg);
  
  grid-area: to-do;
}