:root {
    --header-bg: red;
    --sidebar-bg: black;
    --to-do-bg: white;
}

body {
  height: 100vh;
}

/* Basic outline: */

#grid-container {
  display: grid;
  grid-template-areas: "sidebar header" 
                        "sidebar to-do";
  
  grid-template-columns: minmax(150px, 1fr) 5fr;
  grid-template-rows: auto 1fr;
  
  height: 100%;
}

#header {
  background-color: var(--header-bg);
  
  grid-area: header;
}

#sidebar {
  background-color: var(--sidebar-bg);
  color: white;
  grid-area: sidebar;
}

#to-do{
  position: relative;
  
  background-color: var(--to-do-bg);
  
  grid-area: to-do;
}

/*  */
footer{
  display: flex;

  position: absolute;
  bottom: 0;
  right: 0;
}

#new-to-do, #new-project, #edit-to-do, #delete, #delete-project{
  border: 2px solid black;
  padding: 10px;
  font-size: 4rem;
}

#sidebar button{
  font-size: 3rem;
  display: block;
  color: white;
}